.password-strength-meter {
  width: 98%;
  margin-left: 1%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.strength-bar {
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.strength-text {
  margin-top: 5px;

  font-weight: bold;
  color: white;
  text-align: end;
  padding-right: 1%;
}

.strength-bar.weak {
  background-color: #ff5722;
}

.strength-text.weak {
  color: #ff5722;
}

.strength-bar.fair {
  background-color: orange;
}

.strength-text.fair {
  color: orange;
}

.strength-bar.good {
  background-color: yellow;
}

.strength-text.good {
  color: rgb(255, 255, 0);
}

.strength-bar.strong {
  background-color: #31ff22;
}

.strength-text.strong {
  color: #31ff22;
}
