.container {
  position: relative;
  width: 88vw;
  height: 100vh;
  background: rgba(51, 19, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../../Assets/images/pixel_background_tile.png");
  background-repeat: repeat;
}

.overback {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(61, 28, 0);
  z-index: 0;
}

.playerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  color: rgb(200, 200, 200);
  z-index: 100;
  border: 7px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.avatar {
  width: 75px;
  height: 75px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 12px;
  margin-right: 10px;
}

.topLeft {
  display: flex;
  align-items: center;
}

.playerIcon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.xp {
  margin-top: 5px;
}

.level {
  margin-top: 5px;
  font-size: 14px;
}

.username {
  font-size: 20px;
  font-weight: bold;
}

.highScore {
  font-size: 16px;
  margin-top: 5px;
}

.topRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.coins,
.diamonds {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 3px;
}

.coins_img,
.diamonds_img {
  width: 25px;
  margin-left: 5px;
}

.modalContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 7px solid rgb(0, 0, 0);
  color: rgb(195, 195, 195);
  z-index: 3;
}

.playButton {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ff9800;
  color: #fff;
  cursor: pointer;
}

.gamebar {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
  color: rgb(200, 200, 200);
  z-index: 5;
  border: 7px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.controller_img,
.leaderboard_img,
.options_img,
.shop_img {
  width: 50px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.controller_img:hover,
.leaderboard_img:hover,
.options_img:hover,
.shop_img:hover {
  transform: scale(1.35);
}

@media screen and (max-height: 580px), screen and (max-width: 300px) {
  .modalContainer {
    position: fixed; /* Ensures it overlays everything */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
}
